/* custom */

.card-shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.text-bold{
    font-weight: bold;
}

.btn-block{
    display: block;
    width: 100%;
}

.modal-dialog {
    display: flex;
    align-items: center;
    min-height: calc(100% - 3.5rem);
}

.profile-img{
    width: 150px;
    height: 150px;
}

.equal-height {
    height: 100%;
    width: 100%;
}

.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0,0,0,0);
}